body {
  background: #f5f5f5;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  width: 344px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.08);
}

.item.header {
  margin-bottom: 8px;
  font-weight: 200;
  font-family: montserrat;

}

.horizontal {
  height: .2px;
  background: #14111113;
  margin: 15px 0;
  margin-top: 2px;
  
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;         
  background: #ffffff;
  font-size: 14px;            
  font-family: "Montserrat", sans-serif;
  font-weight: 500;         
  color: #333;                
}


.item span {
  font-size: 14px;
  color: #444444fe;
}

.check {
  width: 24px;
  height: 24px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #CFCFCF;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: 0.2s ease;
}

/* When checked */
.check:checked {
  background-color: #3820c2de;
  border-color: #3820c2de;
}

/* Checkmark */
.check:checked::after {
  content: "";
  display: block; 
  width: 16px;  
  height: 24px;  
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="%23FFFFFF" d="M20.285 6.709l-11.025 11.025-5.545-5.546 1.414-1.414 4.131 4.131 9.611-9.611z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
}



.done-btn {
  width: 100%;
  margin-top: 8px;
  padding: 12px;
  background: #f9d307;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}

.done-btn:hover {
  background: #f5c900;
}
